{% extends "portfolio/layout.html" %}

{% block title %}Sobre Mim{% endblock %}

{% block content %}
    <div class="contentorSobre">
        <section class="section-interests">
            <h2>Interesses</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>Sou o Tomás Silva, tenho 19 anos e de momento estou a estudar e a trabalhar na Universidade Lusófona, estudo Engenharia Informática e estou a trablhar de part-time no departamento de Engenharia Informática na universidade.
                    Nos meus tempos livres gosto de sair com amigos, jogar no pc, progrmar e ir ao ginásio.</p>
                </div>
            </div>
        </section>

        <section class="section-skills">
            <h2>Aptidões</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>Ao longo do meu percurso académico e profissional, desenvolvi diversas aptidões que me permitem atuar de maneira eficiente e criativa em várias áreas. Aqui estão algumas das minhas principais aptidões:</p>
                    <ul>
                        <li><strong>Desenvolvimento Web:</strong> Criação e manutenção de websites utilizando tecnologias como HTML, CSS, e JavaScript, garantindo design responsivo e interfaces amigáveis.</li>
                        <li><strong>Programação:</strong> Proficiente em diversas linguagens de programação, incluindo Java, Kotlin, C, e C++. Capacidade de escrever código limpo e eficiente.</li>
                        <li><strong>Resolução de Problemas:</strong> Abordagem analítica e criativa para resolver problemas complexos, com foco em encontrar soluções eficazes e inovadoras.</li>
                        <li><strong>Comunicação:</strong> Excelentes habilidades de comunicação escrita e verbal, facilitando a troca de informações entre diferentes partes interessadas.</li>
                        <li><strong>Trabalho em Equipe:</strong> Capacidade de trabalhar de maneira colaborativa com diversos grupos, promovendo um ambiente de trabalho harmonioso e produtivo.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="section-competencies">
            <h2>Competências</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <h3>Linguagens de programação</h3>
                    <p>Experiência em:</p>
                    <ul>
                        <li>Java</li>
                        <li>Kotlin</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Html/li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="section-experience">
            <h2>Experiência</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <h3>Experiênica Profissional</h3>
                    <p>Monitor no departamento Informático Universidade Lusófona:Minhas responsabilidades incluem auxiliar alunos, professores e funcionários em diversas tarefas relacionadas à informática.
                    Tenho experiência na instalação e configuração de software e hardware nas salas de aula e laboratórios.
                    Além disso, ofereço suporte técnico, resolvendo problemas e garantindo que todos os equipamentos estejam funcionando corretamente </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
