<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programação Web</title>
</head>
<body>
    <header>
        <h1>O que mais gostei de aprender em Programação Web</h1>
    </header>

    <main>
      <p>A parte mais fascinante que descobri na programação web foi a capacidade de criar interações dinâmicas e imersivas em páginas da web. Desde aprender sobre frameworks como React e Angular até compreender o poder do JavaScript para manipular o DOM, cada aspecto oferece uma nova dimensão de criatividade. Além disso, explorar conceitos como APIs RESTful e GraphQL revelou como podemos integrar sistemas complexos de forma elegante. Aprender sobre design responsivo e acessibilidade também me impressionou, pois permite que minhas criações alcancem uma ampla audiência de maneira inclusiva. E não posso esquecer a emoção de desenvolver aplicações em tempo real usando tecnologias como WebSockets. A programação web é um universo vasto e excitante que continua a me surpreender a cada novo desafio e descoberta.</p>
    </main>
</body>
</html>